absl-py==2.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
altair==5.5.0
altgraph==0.17.4
ambient @ git+https://github.com/AmbientDataInc/ambient-python-lib.git@e3f97b85485767f3ed37b488b8db0228bb3cea48
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.9.1
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.1.0
beautifulsoup4==4.13.3
blinker==1.9.0
bottle==0.13.2
bs4==0.0.2
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chex==0.1.89
click==8.1.8
clr_loader==0.2.7.post0
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.4.10
contourpy==1.3.1
cycler==0.12.1
decorator==5.2.1
discord==2.3.2
discord.py==2.4.0
discordwebhook==1.0.3
dj-database-url==3.0.1
Django==5.2.4
etils==1.12.2
exceptiongroup==1.2.2
executing==2.2.0
feedparser==6.0.11
filelock==3.18.0
flatbuffers==25.2.10
flax==0.10.4
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.3.0
fugashi==1.4.3
gast==0.6.0
genai==2.1.0
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-genai==1.5.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.67.0rc1
googletrans==4.0.2
grpcio==1.73.1
grpcio-status==1.70.0
gspread==6.1.4
gunicorn==23.0.0
h11==0.14.0
h2==4.2.0
h5py==3.13.0
hpack==4.1.0
hstspreload==2025.1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.32.4
humanfriendly==10.0
humanize==4.12.1
hyperframe==6.1.0
idna==3.10
imageio==2.37.0
importlib_resources==6.5.2
ipython==8.34.0
jax==0.4.34
jaxlib==0.4.34
jedi==0.19.2
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.10.0
keyboard==0.13.5
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.44.0
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
mojimoji==0.0.13
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
namex==0.0.8
narwhals==1.26.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.0
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
onnxruntime==1.20.1
openai==0.27.10
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optax==0.2.4
optree==0.14.1
orbax-checkpoint==0.11.5
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.3
parso==0.8.4
pefile==2023.2.7
pillow==11.1.0
platformdirs==4.3.6
plyer==2.1.0
pooch==1.8.2
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.5
proxy_tools==0.1.0
psutil==6.1.1
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
PyGetWindow==0.0.9
Pygments==2.19.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyMatting==1.1.13
PyMsgBox==1.0.9
pynput==1.7.7
pyparsing==3.2.1
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pystray==0.19.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-pptx==1.0.2
pythonnet==3.0.5
pytweening==1.2.0
pytz==2025.1
pywebview==5.4
pywin32==308
pywin32-ctypes==0.2.3
pywinauto==0.6.9
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
rembg==2.0.62
requests==2.32.3
requests-oauthlib==2.0.0
rfc3986==2.0.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
safetensors==0.5.3
scikit-image==0.25.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.28.1
sentencepiece==0.2.0
sgmllib3k==1.0.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.14.1
sqlparse==0.5.3
stack-data==0.6.3
streamlit==1.45.1
streamlit-desktop-app==0.3.4
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_decision_forests==1.8.1
tensorflow_intel==2.18.0
tensorstore==0.1.45
termcolor==2.5.0
tf_keras==2.15.1
threadpoolctl==3.5.0
tifffile==2025.1.10
tiktoken==0.3.3
tkinterdnd2==0.4.2
tokenizers==0.21.1
toml==0.10.2
toolz==1.0.0
torch==2.7.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.4
treescope==0.1.9
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2025.1
unidic-lite==1.0.8
uritemplate==4.1.1
urllib3==2.3.0
watchdog==6.0.0
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
whitenoise==6.9.0
wrapt==1.14.1
wsproto==1.2.0
wurlitzer==3.1.1
xgboost==3.0.2
XlsxWriter==3.2.2
yarl==1.18.3
zipp==3.21.0
